<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partialsDashboard/head') %>
</head>

    <body class="dashboard">

    <%- include('partialsDashboard/header') %>

    <!-- row section -->
    <main class="u-section-row padding-tb">
      <section class="main_login">


          <div class="tabset">
              <!-- Tab 1 Inicio de Sesion-->
              <input type="radio" name="tabset" id="tab1" aria-controls="marzen" 

              <% if (registro==0) { %>
               checked
              <% } %> >
              <label for="tab1">Buscar usuario</label>
              <!-- Tab 2 Registro-->
              <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier"
              <% if (registro==1) { %>
                  checked
                 <% } %>>
              <label for="tab2">Crear usuario</label>

              <div class="tab-panels">
                  <section id="marzen" class="tab-panel">
                      <h2 class="reg-login">Buscar usuario</h2>

                      <form action="/user/userToEdit" method="post" class="formulario">

                          <label for="email">Ingrese email de usuario</label>
                          <input type="text" name="email" id="email" class="border-box"
                          value="<%= locals.oldValues? locals.oldValues.email:null %>">
                          <% if (locals.errors && errors.email) { %>
                              <p class="errorMsg">
                              <%= errors.email.msg %>
                              </p>
                              <% } %>

                         
                          <div class="w-100 botones padding-tb">
                              <button class="submit" type="submit">Buscar usuario</button>
                          </div>
                      </form>

                  </section>


                  <section id="rauchbier" class="tab-panel">
                      <h2 class="reg-login">Crear usuario</h2>
                      <form action="/user/createUserAdmin" method="post" enctype="multipart/form-data"
                            class="formulario bg-gris-claro" >
                            <%- include("../partials/formularioUsuario") %>

                          
                              <div class="w-100">
                                <label for="role_id" class="form-label">Credenciales</label>
                                <select name="role_id" id="category" class="form-input">
                                  <option value="">Elegí</option>
                                  <option value="2">Cliente</option>
                                  <option value="1" >Administrador</option>
                                </select>
                              </div>
                  
                              <div class="w-100 botones padding-tb">
                                    <button class="rest" type="reset">Borrar</button>
                                    <button class="submit" type="submit">Registrarme</button>
                                      
                              </div>
                      </form>
                  </section>


              </div>

          </div>
          <!-- </div> -->
      </section>
  </main>
    <!-- Fin row section -->

    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>
        
    </body>

</html>