<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partialsDashboard/head') %>
</head>

    <body class="dashboard">

    <%- include('partialsDashboard/header') %>

    <!-- row section -->
    <div class=" u-section-row padding-tb">

            <h2 class="das-titulo">Agregar Productos</h2>
            <!-- Body Dashboard -->
            <div class="das-body">

                <!-- Formulario Crear Producto -->
                <form action="/dashboard" method="post" enctype="multipart/form-data" class="formulario bg-gris-claro">

                  <div class="w-100">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="Nombre del Producto" class="w-100" 
                    value="<%= product.name %>" />
                    <% if (locals.errors && errors.name) { %>
                      <p class="errorMsg">
                      <%= errors.name.msg %>
                      </p>
                    <% } %>
                  </div>

                  <div class="w-100">
                    <label for="description" class="form-label">Descripcion producto:</label>
                    <textarea name="description" id="description" placeholder="Descripción" class="w-100" rows="8" cols="50" 
                    value="<%= product.description %>" ></textarea>
                    <% if (locals.errors && errors.description) { %>
                      <p class="errorMsg">
                      <%= errors.description.msg %>
                      </p>
                    <% } %>
                  </div>

                  <div class="w-100 flex">
                    <div class="r-25">
                      <label for="category" class="form-label">Categoría:</label>                     
                      <select name="category" id="category" class="form-input" >
                        <% for( let i = 0; i < category.length; i++ ) { %>
                          <option value="<%= category[i].id %>"><%= category[i].type %></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="r-25">
                      <label for="colors" class="form-label">Colores:</label>      
                              <ul class="caja-talles">
                            <% for( let i = 0; i < colors.length; i++ ) { %>
                              <li class="div-talles"><%= colors[i].color %>
                                <input type="checkbox" name="colors" id="colors" value="<%= colors[i].id %>" >
                              </li>
                              <% } %>
                            </ul>
                  </div>
                    <div class="r-25">
                    
                    <label for="sizes" class="form-label">Seleccione el Talle:</label>                        
                          <ul class="caja-talles">
                          <% for( let i = 0; i < sizes.length; i++ ) { %>
                            <li class="div-talles"><%= sizes[i].size %>
                              <input type="checkbox" name="sizes" id="sizes" value="<%= sizes[i].id %>">
                            </li>
                            <% } %>
                          </ul>
                    </div>
                    
                  </div>
                  <div class="w-100 flex">
                    <div class="r-33">
                      <label for="genre" class="form-label">Genero:</label>
                      <select name="genre" id="genre" class="form-input" >
                        <% for( let i = 0; i < genre.length; i++ ) { %>
                          <option value="<%= genre[i].id %>"><%= genre[i].genre %></option>
                        <% } %>
                       
                    </select>
                     
                    </div>

                    <div class="r-33">
                      <label for="brand" class="form-label">Marca:</label>
                      <select name="brand" id="brand" class="form-input" >
                        <% for( let i = 0; i < brand.length; i++ ) { %>
                          <option value="<%= brand[i].id %>"><%= brand[i].name %></option>
                        
                        <% } %>
                       
                    </select>
                    </div>

                    <div class="r-33">
                      <label for="material" class="form-label">Material:</label>
                      <select name="material" id="material" class="form-input" >
                        <% for( let i = 0; i < material.length; i++ ) { %>
                          <option value="<%= material[i].id %>"><%= material[i].type %></option>
                        
                        <% } %>
                       
                    </select>
                    </div>
                  </div>

                  <div class="r-50">
                    <label for="price" class="form-label">Precio:</label>
                    <input type="text" id="price" name="price" placeholder="Precio" class="w-100" 
                    value="<%= product.price %>" />
                    <% if (locals.errors && errors.price) { %>
                      <p class="errorMsg">
                      <%= errors.price.msg %>
                      </p>
                  <% } %>
                  </div>

                  <div class="r-50">
                    <label for="discount" class="form-label">Precio Rebajado:</label>
                    <input type="text" id="discount" name="discount" placeholder="Descuento" class="w-100" />
                  </div>
    

                  <label for="images">Imagen destacada</label>
                  <input type="file" name="images" accept="image/png,image/jpeg,image/jpg" class="border-box" multiple>


                  <div class="w-100 botones padding-tb">
                    <button type="reset" class="rest"><span class="far fa-trash-alt"> </span> Limpiar</button>
                    <button type="submit" class="submit">GUARDAR </i></button>
                     
                  </div>

                </form>
                <!-- Fin Formulario Crear Producto -->

            </div>
            <!-- Fin Body Dashboard -->

    </div>
    <!-- Fin row section -->

    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>
        
    </body>

</html>