<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("partials/head") %>
</head>

<body>
	<!-- Encabezado -->
		<%- include("partials/header",{usuario:usuario}) %>
	<!-- Fin Encabezado -->


	<main class="u-section-row padding-tb">

		<section class="slider">
			<ul>
				<li>
					<img src="/images/1366x600_banner-1.jpg" alt="">
				</li>
				<li>
					<img src="/images/1366x600_cai_puma.jpg" alt="">
				</li>
				<li>
					<img src="/images/1366x600_cumulus24.jpg" alt="">
				</li>
				<li>
					<img src="/images/ar-cro_13-12_horizontal_1366x600px_sf_53.jpg" alt="">
				</li>
			</ul>
		</section>

		<section class="banners">
	
			<div class="publicidad">
				<img src="/images/banner-legal_accion-medias.jpg" alt="Imagen 1">
			</div>
	
			<div class="image-container">
				<div class="banner">
					<img src="/images/pexels-photo-3768901.jpeg" alt="banner-hombre">
					<span class="text">Hombre</span>
				</div>
				<div class="banner">
					<img src="/images/mujer3.jpg" alt="banner-mujer">
					<span class="text">Mujer</span>
				</div>
				<div class="banner">
					<img src="/images/niñosropa1.jpg" alt="banner-niños">
					<span class="text">Niños</span>
				</div>
			</div>

		</section>


		<section class="ofertas">

			<div class="container-ofertas">
				<h2>OFERTAS</h2>
			</div>

			<div class="productDetail">
				<!-- HACER EL FOREACH -->
				<% productSale.forEach(product =>  { %>
					<%- include("partials/product-card",{ product:product })%> 
				<% }) %>
				
			<!-- FIN DEL FOREACH -->
			</div>

		</section>
		<section class="ofertas">

			<div class="container-ofertas">
				<h2>PRODUCTOS DESTACADOS</h2>
			</div>

			<div class="productDetail">
				<!-- HACER EL FOREACH -->
				<% productFeatured.forEach(product =>  { %>
					<%- include("partials/product-card",{ product:product })%> 
				<% }) %>
				
			<!-- FIN DEL FOREACH -->
			</div>

		</section>


	</main>	

		

<!-- footer -->
<%- include("partials/footer") %>

</body>
</html>