<article class="productos">
    <a href="/<%= product.id %> /productDetail">
        <img class="img-product" src="/images/product/<%= product.image %>" alt="Imagen remera">
        <div class="div-productos">
            <h4 class="nombre"><%= product.name %></h4>
            <p class="descuento"><s><%= product.price %></s>  <strong>$<%= product.discount %></strong></p>
            <a href="/<%= product.id %> /productDetail" class="submit"><i class="fas fa-eye"> </i> Ver Producto</a>
        </div>
    </a>
</article>